[build-system]
requires = ["setuptools >= 74.0"]
build-backend = "setuptools.build_meta"

[project]
name = "hundredandten"
version = "2.1.0"
description = "A package to play the game Hundred and Ten"
readme = "README.md"
requires-python = ">=3.11"
authors = [
    { name = "Seamus Lowry" },
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]
dependencies = []

[project.optional-dependencies]
lint = [
    "pylint==4.0.4",
    "pyright==1.1.408",
    "ruff==0.15.1",
    "black==26.1.0",
]
publish = [
    "build==1.4.0",
    "twine==6.2.0",
]
test = [
    "coverage==7.13.4",
    "pytest==9.0.2",
]

[tool.coverage.run]
omit = [
    "tests/*",
    "setup.py",
]

[tool.ruff]
target-version = "py313"
line-length = 100
lint.extend-select = ["I"]
