[build-system]
requires = ["setuptools >= 74.0", "setuptools-scm >= 8"]
build-backend = "setuptools.build_meta"

[project]
name = "hundredandten"
dynamic = ["version"]
description = "A package to play the game Hundred and Ten"
readme = "README.md"
requires-python = ">=3.11"
authors = [
    { name = "Seamus Lowry" },
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]
dependencies = []

[project.optional-dependencies]
lint = [
    "pylint==3.3.8",
    "pyright==1.1.403",
]
publish = [
    "build==1.3.0",
    "twine==6.1.0",
]
test = [
    "coverage==7.10.5",
    "pytest==8.4.1",
]

[tool.setuptools_scm]

[tool.coverage.run]
omit = [
    "tests/*",
    "setup.py",
]