[build-system]
requires = ["setuptools >= 74.0", "setuptools-scm >= 8"]
build-backend = "setuptools.build_meta"

[project]
name = "hundredandten"
dynamic = ["version"]
description = "A package to play the game Hundred and Ten"
readme = "README.md"
requires-python = ">=3.11"
authors = [
    { name = "Seamus Lowry" },
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]
dependencies = []

[project.optional-dependencies]
lint = [
    "pylint==4.0.4",
    "pyright==1.1.408",
]
publish = [
    "build==1.4.0",
    "twine==6.2.0",
]
test = [
    "coverage==7.13.2",
    "pytest==9.0.2",
]

[tool.setuptools_scm]

[tool.coverage.run]
omit = [
    "tests/*",
    "setup.py",
]